{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "always"
  }