@use '../abstract/variaveis' as *;

.container {
    display: flex;
    justify-content: center;
    width: 100%;

    .lista-posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;

        margin: 1rem 1rem 3rem 1rem;
        padding: 0;
        gap: 3rem 1rem;

        .container-aviso {

            $cor-aviso: transparentize($cor-texto, 0.5);
    
            pointer-events: none;
            user-select: none;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            // border: 2px dashed $cor-aviso;
            border-radius: 1rem;
    
            margin: 2rem 1rem 0 1rem;
            padding: 4rem 2rem;
            gap: 2rem;
    
            background-color: transparentize($cor-aviso, 0.45);
            
            // height: 150px;

            .wrapper-aviso {

                display: flex;
                flex-direction: column;

                gap: 1rem;
                padding: 0 1rem;

                width: clamp(200px, 80%, 500px);

                svg {
        
                    min-width: 50px;
                    width: 50px;

                    place-self: start start ;
        
                    path {
        
                        fill: $cor-aviso;
        
                    }
        
                }
        
                .aviso-texto {
        
                    color: $cor-aviso;
                    max-width: 400px;
        
                    font-weight: 500;
        
                    border-top: 2px solid $cor-aviso;
                    padding-top: 1rem;
        
                    margin: 0;
        
                }

            }
    

            .post-novo-aviso {

                display: flex;
                flex-direction: row;
                justify-content: center;

                // margin: 0 1rem;
                height: 20vh;

                pointer-events: auto;

                max-height: 45px;
                width: clamp(200px, 80%, 500px);

                
                button {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    background: none;
                    width: 100%;
                    
                    border-radius: 1rem;
                    border: 2px solid $cor-aviso;
                    
                    color: $cor-aviso;
                    
                    padding: 1rem;
                    gap: 0.5rem;
                    
                    cursor: pointer;

                    transition: all 500ms;

                    &:hover {
    
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 0;

                        background-color: $cor-texto;
    
    
                        img {
                            filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(287%) hue-rotate(15deg) brightness(112%) contrast(88%);
    
                            color: #ffffff80;
    
                        }
    
                        p {
                            color: $cor-fundo;
                        }
    
                    }

                    img {

                        display: none;

                    }

                    p {
                        font-weight: bold;
                        font-size: 1.2rem;

                    }

                }

            }

        }

        .post-novo {
            display: flex;
            flex-direction: row;
            justify-content: center;

            // margin: 0 1rem;
            height: 20vh;

            // margin-top: 2rem;
            
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                
                background: none;
                width: 100%;
                
                border-radius: 1rem;
                border: 2px dashed transparentize($cor-texto, 0.5);
                
                color: $cor-texto;
                
                gap: 0.5rem;
                
                cursor: pointer;

                transition: all 500ms;

                &:hover {
                    
                    border: 2px solid $cor-texto;

                    border-bottom-left-radius: 0;
                    border-top-right-radius: 0;

                    // box-shadow: inset 1px 1px 15px 5px transparentize(lighten($cor-fundo, 10%), 0.5);
                    // background-color: $cor-texto;

                    img {
                        filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(287%) hue-rotate(15deg) brightness(112%) contrast(88%);

                        color: #ffffff80;

                    }

                    p {
                        color: $cor-texto;
                    }

                }
                
                img {
                    transition: filter 500ms;

                    filter: brightness(0) saturate(100%) invert(61%) sepia(0%) saturate(287%) hue-rotate(15deg) brightness(97%) contrast(85%);
                    width: 35px;
                }

                p {
                    transition: color 500ms;


                    font-family: $fonte-base;
                    font-size: 2rem;

                    color: transparentize($cor-texto, 0.5);
                }
            }
        }

        .post {
            width: 100%;

            padding: 0;
            border: none;
            border-radius: 1rem;
            background: none;

            cursor: pointer;

            text-align: left;

            transition: 
                        filter 500ms,
                        background-color 500ms,
                        box-shadow 500ms;

            &:hover {
                // background-color: transparentize($cor-texto, 0.95);
                // filter: brightness(125%);

                filter: brightness(110%);
                background-color: transparentize($cor-texto, 0.95);
                box-shadow: 2px 2px 5px -2px darken($cor-fundo, 3%),
                            2px 2px 10px -2px darken($cor-fundo, 6%),
                            2px 2px 15px -2px darken($cor-fundo, 9%);
            }

            .editor {
                // margin-top: 0;
                margin: 0;

                .opcoes {
                    display: flex;
                    
                    // @include icone-editor();
                    
                    .wrapper-texto {
                        
                        display: flex;

                        border-radius: 0.5rem;
                        padding: 0 0.5rem;

                        font-size: 1.1rem;
                        font-family: $fonte-base;

                        h5:first-child {

                            margin: 0;
    
                            color: $cor-texto;
                            font-weight: 600;
                            font-style: italic;

                            padding: 0.2rem 0.5rem 0.2rem 0;
                            // border-right: 2px solid $cor-texto;
                        }

                        h5:last-child {
                            margin: 0;
    
                            color: $cor-texto;
                            font-weight: 600;

                            padding: 0.2rem 0 0.2rem 0.5rem;
                        }
                    }

                }

                .comunidade-codigo {

                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    height: 40vh;

                    margin: 0;

                    ::-webkit-scrollbar {

                        width: 0;

                    }
                }
            }

            .detalhes-post {
                // display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;

                display: grid;
                grid-template-areas: 
                'titulo titulo'
                'descricao descricao'
                'linguagem-data x'
                'social-autor social-autor '
                ;

                // justify-content: space-between;

                // margin: 0 1rem;
                padding: 1.5rem;
                // height: 100%;

                border-top: 2px solid transparentize($cor-texto, 0.9);
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                background-color: $cor-fundo-post;

                font-family: $fonte-base;
                color: $cor-texto;

                .comunidade-titulo {
                    grid-area: titulo;
                    padding: 0;
                    margin-bottom: 1.5rem;

                    background: none;
                    outline: none;
                    border: none;

                    font-family: $fonte-base;
                    color: $cor-texto;
                    font-size: 3rem;
                    font-weight: 600;
                }

                .comunidade-descricao {
                    grid-area: descricao;
                    padding: 0;
                    padding-right: 0.5rem;
                    margin-bottom: 1.5rem;

                    background: none;
                    outline: none;
                    border: none;

                    font-family: $fonte-base;
                    color: $cor-texto;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                }

                .linguagem-data {
                    grid-area: linguagem-data;

                    display: flex;
                    align-items: center;

                    min-width: 52px;

                    gap: 1rem;
                    margin-bottom: 1rem;

                    h4 {
                        margin: 0;
                        // margin-bottom: 2rem;

                        line-height: 0.2rem;

                    }

                    h5 {
                        margin: 0;
                        // margin-bottom: 2rem;
                        // font-size: 0.8rem;

                        color: transparentize($cor-texto, 0.5);
                        font-size: 0.8rem;
                        font-style: italic;
                        font-weight: 400;

                        line-height: 0.2rem;
                    }

                }
                .social-autor {
                    grid-area: social-autor;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .social {
                        display: flex;
                        gap: 1rem;
    
                        // place-self: end start;
    
                        div {
                            display: flex;
                            gap: 0.5rem;
                            
                            p {
                                font-family: $fonte-base;
                            }
                        }
    
                    }
    
                    .autor {
                        // place-self: end end;
                        
                        div {

                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 500px) {

    .container {

        .lista-posts {

            .container-aviso {
                $cor-aviso: transparentize($cor-texto, 0.5);

                .wrapper-aviso {
        
                    flex-direction: row;

                    .aviso-texto {

                        border: none;
                        padding: 0;

                        border-left: 2px solid $cor-aviso;          
                        padding-left: 1rem;              

                    }
                }
            }
        }
    }


}

@media (min-width: 1280px) {
    .container {

        .lista-posts {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .post-novo {
                min-width: 600px;
                min-height: 100px;

            }
    
            .post {
                max-width: 600px;
                min-height: 500px;
                // height: 100%;

                .editor {

                    margin: 0;

                    .comunidade-codigo {
                        height: 40vh;
                    }
                }

                .detalhes-post {
                    margin: 0;
                }
            }
        }
    }
    
}

@media (min-width: 1280px) and (max-width: 1440px){
    .container{

        .lista-posts{

            justify-content: space-between;
            margin: 1rem;

            .container-aviso {
                width: 100%;
            }

            .post{
                max-width: calc((100vw)/2 - 2rem);
            }
            .post-novo{

                width: 100%;

            }
        }
    }
}

@media (min-width: 1440px) and (max-width: 1705px) {
    .container {

        .lista-posts {

            $tamanho-menu-lateral: calc(200px + 4rem);
            $tamanho-barra-pesquisa: calc(100vw - 2*($tamanho-menu-lateral + 2rem + 1rem));

            align-self: center;

            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            // max-width: $tamanho-barra-pesquisa;
            width: 100%;
            
            margin: 1rem;
            
            .container-aviso {
                width: 100%;
            }

            .post-novo {
                min-width: $tamanho-barra-pesquisa;
                min-height: 100px;

                margin: 0;
                // margin-top: 2rem;
            }
    
            .post {
                max-width: $tamanho-barra-pesquisa;
                min-height: 500px;
                // height: 100%;

                .editor {

                    margin: 0;

                    .comunidade-codigo {
                        height: 40vh;
                    }
                }

                .detalhes-post {
                    margin: 0;
                }
            }
        }
    }
    
}

@media (min-width: 1705px) {
    .container {

        .lista-posts {

            $tamanho-menu-lateral: calc(200px + 4rem);
            $tamanho-barra-pesquisa: calc(100vw - 2*($tamanho-menu-lateral + 2rem + 1rem));

            align-self: center;

            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            max-width: $tamanho-barra-pesquisa;
            
            .container-aviso {

                width: $tamanho-barra-pesquisa;

                margin: 0;
                margin-top: 2rem;
            }
            
            .post-novo {
                min-width: $tamanho-barra-pesquisa;
                min-height: 100px;

                margin: 0;
            }
    
            .post {
                max-width: calc(($tamanho-barra-pesquisa)/2 - 1.5rem);
                min-height: 500px;
                // height: 100%;

                .editor {

                    margin: 0;

                    .comunidade-codigo {
                        height: 40vh;
                    }
                }

                .detalhes-post {
                    margin: 0;
                }
            }
        }
    }
    
}