@use '../abstract/variaveis' as *;

.header-editor {

    $cor-header: transparentize($cor-texto, 0.5);

    display: flex;

    margin: 2rem 1rem 1rem 2rem;

    gap: 1rem;


    .header-wrapper {

        display: flex;
        align-items: center;

        user-select: none;

        gap: 1rem;

        .icone-header {
            width: 40px;
            
            path {
                fill: $cor-header;
            }

            g {
                g {
                    fill: $cor-header;
                }
            }
        }

        p {
            margin: 0;

            width: 70px;
            min-width: 70px;

            color: $cor-header;
            font-size: 1rem;
            font-weight: 400;

            padding-left: 0.5rem;
        }

        p:last-child {
            min-height: 40px;
            min-width: 100px;

            border-left: 2px solid transparentize($cor-header, 0.2);
            padding-left: 1rem;

        }

    }
    .retornar {

        display: flex;
        align-items: center;

        width: 50px;
        max-width: 200px;
        
        background: none;
        outline: none;
    
        // width: calc(300px - 2rem);
        height: 50px;
        
        // padding: 0;
        padding: 0.5rem;
        gap: 0.75rem;
        border: 2px solid transparent;
        border-left: 2px solid transparentize($cor-header, 0.2);
        // border-radius: 0.5rem;

        overflow: hidden;

        cursor: pointer;
    
        transition: all 500ms;
    
        &:hover {
            
            width: 170px;

            border-radius: 0.5rem;
            // border: 2px solid transparentize($cor-header, 0.2);
            border: 2px solid $cor-header;

            // p {
            //     opacity: 100%;
            // }
        }
    
        svg {
            min-width: 30px;
            max-width: 30px;
    
            fill: $cor-header;
    
            transition: fill 250ms;

            g{
                g{
                    fill: $cor-header;
                }
            }

            path:last-child {
                fill: $cor-header;
            }
        }
    
        p {
            // opacity: 0;
            margin: 0;
            padding-right: 1rem;

            min-width: 100px;
    
            color: $cor-header;
            font-size: 1rem;
            font-weight: 400;

            text-align: left;
    
            transition: all 250ms;
        }
    }
}

.editor {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;

    .opcoes {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem  1rem 1rem calc(1rem + 9.5px);
        // padding: 0 11.5px 0 21px;
        max-height: 54px;

        // width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        border-bottom: 2px solid transparentize($cor-texto, .8);

        background-color: $cor-fundo-editor;

        .botoes {
            display: flex;
            gap: 1rem;

            min-height: 31px;

            .container-linguagem {
                z-index: 5;

                color: $cor-texto;
                background: none;
                font-size: 0.8rem;
                font-weight: 550;
                // font-style: italic;
                font-family: $fonte-base;

                margin: 0;

                border: 0.125rem solid $cor-texto;
                border-radius: 0.5rem;

                // min-width: 210px;
                width: 225px;
                height: 31px;

                line-height: 2rem;

                // overflow: auto;

                cursor: pointer;

                transition: border-radius 200ms;

                &:focus {

                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;


                }

                .linguagem-placeholder {

                    display: flex;
                    justify-content: space-between;

                    user-select: none;

                    padding: 0 0.5rem 0 1rem;

                    width: calc(auto + 10px);
                    
                    overflow: hidden;
                    
                    .texto-container {
                        
                        p {
                            max-height: 32px;
                            margin: 0;
                            color: transparentize($cor-texto, 0.5);    
                            
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* Limit the number of lines to 2 */
                            -webkit-box-orient: vertical;
                            white-space: normal;

                            text-overflow: ellipsis;
                        }
                    }

                    svg {
                        overflow: visible;

                        width: 20px;
                        fill: $cor-texto;
                    }
                }                
    
                
                .linguagem {

                    --cor-fundo: #141414;
                    --cor-texto: #fff;

                    z-index: 2!important;

                    user-select: none;

                    display: none;
                    flex-direction: column;

                    position: relative;
                    top: 1px;
                    right: 1.5px;

                    width: 100%;
                    height: -30px;

                    border: 0.125rem solid $cor-texto;
                    border-width: 0 0.125rem 0.125rem 0.125rem;
                    border-top: 0;
                    border-bottom-right-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                    
                    padding: 0;                    
                    margin: 0;

                    background-color: $cor-fundo-editor;

                    overflow: hidden;
                    transition: height 500ms ease;
                    
                    .linguagem-opcao {

                        padding-left: 1rem;    


                        &:hover {

                            background-color: var(--cor-texto);
                            color: var(--cor-fundo);
                        }

                        &:last-child:hover {
                            border-bottom-right-radius: 0.25rem;
                            border-bottom-left-radius: 0.25rem;
                        }

                    }
                }

            }

            .container-seletor {
                display: flex;
                justify-content: end;
                flex: 1;

                width: 200px;

                border: 0.125rem solid $cor-texto;
                border-radius: 0.5rem;


                // padding-left: 0.5rem;

                .seletor-texto {

                    --cor-placeholder: #ffffff85;

                    height: 100%;
                    flex: 1;
                    min-width: 80px;
                
                    // reset
                    outline: none;
                    border: none;
                    padding: 0;
                    padding-left: 0.75rem;
        
                    // padding-left: 1rem;
        
                    font-family: $fonte-base;
                    font-size: 0.8rem;
                    font-weight: 550;

                    border-radius: inherit;

                    background-color: $cor-fundo-editor;
                    color: $cor-texto;
                    overflow: hidden;
                    

                    &::placeholder {
                        color: var(--cor-placeholder);
                    }
                }
        
                .label-seletor-cor {
                    display: flex;
                    // background-color: #fff;
                    width: 27px;
                    height: 100%;

                    outline: none;

                    border-left: 0.125rem solid $cor-texto;
                    border-top-right-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                                        
                    cursor: pointer;

                    // background-image: url('../../assets/color-picker.svg');
                    // fill: $cor-texto;
                    // background-size: 90%;
                    // background-position: center;
                    // background-repeat: no-repeat;
                    
                    .icone-seletor {
                        position: relative;
                        left: 0.1rem;

                        min-width: 23px;
                        
                        path:nth-child(2) {
                            fill: $cor-texto;
                        }
                    }
                    
                    .seletor-cor {
                        visibility: hidden;
                    }
                }
                
            }
        }

    }

    code-input {
        // width: 100%;
        --cor-fundo-selecao: #fff;
        --cor-texto-selecao: #141414;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: $cor-fundo-editor;
        border: none;
        // border-top: 2rem solid #c7fc0b;
        // box-shadow: 2px 2px 2px 1px #ffffff33;

        margin: 0;
        padding: 1rem 1rem;
        // margin-bottom: 1rem;

        font-family: $fonte-editor;
        color: $cor-texto;
        font-size: 1rem;
        // white-space: pre-line;

        height: 40vh;

        &:focus-within {
            outline: none;
        }

        textarea::selection {

            background: var(--cor-fundo-selecao);
            color: var(--cor-texto-selecao);

        }
        
        pre{

            code {
                background-color: $cor-fundo-editor !important;
            }
        }
    }
}

.post-detalhado {

    &.wrapper {

        margin: 0 1rem 1rem 1rem;
        background-color: $cor-fundo-post;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;

        border-top: 2px solid transparentize($cor-texto, 0.9);
    }

    &.editor {
        margin-bottom: 0;
    }

    .opcoes {
        display: flex;
        flex-direction: row;

        .wrapper-texto-post {

            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            text-align: center;

            gap: 0.5rem;
            padding: 0 0.5rem;
            
            .texto-linguagem, .texto-tag {
                text-align: center;

                height: 31px;

                line-height: 1.9rem;
            }
    
            .texto-linguagem {
                padding-right: 0.5rem;

                font-style: italic;
            }
    
        }
    
       .botao-copiar {

            --cor-botao: #fff;
            --cor-fundo: #141414;

            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0 0.5rem;
            border-radius: 0.5rem;

            width: 18px;
            height: 31px;

            overflow: hidden;

            cursor: pointer;

            transition: width 700ms;

            &:hover {
                // background-color: $cor-texto;
                width: 115px;

                // svg {
                //     fill: $cor-fundo-editor;
                // }
            }

            &:active {

                background-color: var(--cor-botao);

                svg {

                    fill: var(--cor-fundo);

                }
                
                p {
                    
                    color: var(--cor-fundo);
                    z-index: 10;
                }
            }

            svg {
    
                min-width: 18px;
                max-height: 18px;

                fill: var(--cor-botao);
            }
            
            p {

                color: var(--cor-botao);

                text-align: center;

                font-size: 0.83rem;
                font-weight: 600;

                user-select: none;
                
                min-width: 90px;

                transition: width 700ms;
            }

       } 
    }
    
    code-input {
        text-wrap: wrap;
        height: 50vh;

        border-radius: 0;

    }

    .footer-editor {
        display: flex;
        justify-content: end;

        background-color: $cor-fundo-editor;
        // border-bottom-right-radius: 1rem;
        // border-bottom-left-radius: 1rem;

        padding: 0.5rem;

        .botao-expandir {

            background: none;
            border: none;
            padding: 0;
            border-radius: 100vmax;

            width: 24px;

            cursor: pointer;

            transition: background-color 300ms;

            &:hover {
                background-color: transparentize($cor-texto, 0.2);

                svg {
                    fill: $cor-fundo-editor;
                }
            }

            svg {
                overflow: visible;
     
                width: 20px;
                fill: $cor-texto;

                transition: fill 300ms;
            }
        }
    }

    .personalizacao-salvar {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $cor-texto;

        gap: 0.5rem;
        padding: 0 1rem 0.5rem 1rem;

        .linguagem-data {

            h5 {
                margin: 0;

                font-style: italic;
                font-weight: 400;
                font-size: 0.8rem;
                color: transparentize($cor-texto, 0.5);
            }
        }
        .social-autor {
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;


            .social {
                display: flex;
                gap: 1rem;  

                div {
                    display: flex;
                    gap: 0.5rem;
                }

            }

            .autor {

                .wrapper-autor {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;


                    // p {
                        
                    //     // padding-right: 1rem;

                    // }
                }

            }
        }

    }

    


}


// @media (max-width: 320px) {
//     .editor {
//         .opcoes {
//             justify-content: flex-end;
//             .icone-wrapper {
//                 display: none;
//             }
//         }
//     }
// }

@media (max-width: 420px) {
    
}

@media (max-width: 600px) {
    
    .header-editor {
        display: none;
    }

    .editor {
        .opcoes {
            justify-content: space-between;

            padding: 1rem;

            .icone-wrapper {
                display: none;
            }

            .botoes {

                width: 100%;
                justify-content: space-between;
    
                .container-seletor {
                    flex: 1
                    ;
                }
            }
        }
    }
    
}

@media (min-width: 1440px) {
    .container {
        flex: 1;

        .editor {
            height: auto;

            textarea {
                padding: 2rem;
            }
        }
    }
    
}