@use '../abstract/variaveis' as *;

.editor {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 0 1rem;

    .opcoes {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;

        // width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        border-bottom: 2px solid transparentize($cor-texto, .8);

        background-color: $cor-fundo-editor;

        .botoes {
            display: flex;
            
            .linguagem {
                color: $cor-texto;
                background: none;
                font-size: 0.8rem;
                font-weight: bold;

                padding: 0.2rem 0.5rem;
                border: 1px solid $cor-texto;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;

                cursor: pointer;

                option {
                    background-color: $cor-fundo-editor;
                    border: 2px solid $cor-texto;
                }
            }

            .highlight {
                color: $cor-texto;
                background: none;
                font-size: 0.8rem;
                font-weight: bold;

                padding: 0.2rem 0.5rem;
                border: 1px solid $cor-texto;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;

                &.active {
                    background-color: $cor-texto;
                    color: $cor-fundo-editor;
                }
            }
        }

    }

    code-input {
        // width: 100%;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: $cor-fundo-editor;
        border: none;
        // border-top: 2rem solid #c7fc0b;
        // box-shadow: 2px 2px 2px 1px #ffffff33;

        margin: 0;
        padding: 1rem 1rem;
        // margin-bottom: 1rem;

        font-family: $fonte-editor;
        color: $cor-texto;
        font-size: 1rem;
        white-space: pre-line;

        height: 40vh;

        &:focus-within {
            outline: none;
        }

        
    }
}


@media (max-width: 320px) {
    .editor {
        .opcoes {
            justify-content: flex-end;
            .icone-wrapper {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    
    
}

@media (min-width: 1440px) {
    .container {
        flex: 1;

        .editor {
            height: auto;

            textarea {
                padding: 2rem;
            }
        }
    }
    
}