@use '../abstract/variaveis' as *;

.lista-cards {

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 1rem;
    gap: 2rem;
    // width: 100%;

    
    .container-projeto {

        display: flex;

        width: 100%;
        height: 200px;
        border-radius: 1rem;
    
        .botao-card {
            
            display: flex;
            position: relative;
            gap: 2rem;
            padding: 1rem 2rem;
            width: 100%;
    
            height: 200px;
            right: 0;
    
            border: none;
            outline: none;
    
            background-color: darken($cor-texto, 20%);
            background-image: none;
            border-radius: 1rem;
    
            cursor: pointer;
    
            transition: filter 1000ms,
                        width 1000ms,
                        right 1000ms;
    
            &:hover {
    
                filter:brightness(120%);
                // width: calc(100% + 50px);
                // right: 50px;
    
                .wrapper-indice > svg {
                    opacity: 1;
                }
            }
    
            
            .wrapper-indice {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                height: 100%;
    
                .indice-projeto {
        
                    margin: 0;
                    font-size: 4rem;
                    color: $cor-fundo;
        
                }
    
                svg {

                    path {

                        fill: transparentize($cor-fundo, 0.3);

                    }
    
                    opacity: 0;
    
                    fill: transparentize($cor-fundo, 0.3);
                    width: 70px;
    
                    transition: opacity 250ms;
                }
            }
    
    
            .card-detalhes {
    
                display: flex;
                flex-direction: column;
                align-items: flex-end;
    
                flex: 1;
    
                border-left: 2px solid transparentize($cor-fundo, 0.5);
                gap: 0.5rem;
    
                .card-nome, .card-descricao {
                    border: none;
                    background: none;
                    padding-left: 1rem;
    
                    font-family: $fonte-base;
                    color: $cor-fundo;
    
                    align-self: start;
                    width: 100%;
                }
    
                .card-nome {
                    font-size: 2rem;
                    font-weight: 600;
                }
                
                .card-descricao {
                    font-size: 1rem;
                    font-weight: 500;
    
                }
    
                h5 {
                    position: relative;
                    left: 16px;
    
                    margin: 0;
    
                    font-size: 0.8rem;
                    font-style: italic;
                    color: transparentize($cor-fundo, 0.5);
                }
            }
    
    
        }

    }

    .container-excluir {

        z-index: 10;

        $cor-card-excluir: #f0eae1;
        
        // pointer-events: none;
        user-select: none;

        display: flex;

        width: 100%;
        flex: 1;

        // gap: 2rem;
        padding: 1rem 2rem;
        margin: 0;

        border-radius: 1rem;

        transition: opacity 500ms;

        & * *:not(button) {
            pointer-events: none;
        }


        svg {
            
            fill: $cor-card-excluir;
            width: 102px;
            min-width: 102px;
            max-height: 100px;

        }



        .card-excluir {

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            // height: 100%;
            width: 100%;

            color: $cor-card-excluir;

            border-left: 2px solid $cor-card-excluir;
            padding-left: 2rem;

            textarea:first-child {

                background: none;
                pointer-events: none;

                overflow: hidden;
                text-overflow: ellipsis;
                
                margin: 0;
                padding: 0;
                border: 0;
                width: 100%;

                text-align: center;
                align-self: center center;
                font-family: $fonte-base;
                font-size: 1.2rem;
                color: $cor-card-excluir;
                

            }  

            textarea:nth-child(2) {

                background: none;

                margin: 0;
                border: 0;
                width: 100%;

                text-align: center;
                font-family: $fonte-titulo;
                font-size: 2.4rem;
                font-style: italic;
                font-weight: 500;
                color: $cor-card-excluir;

                padding: 0.5rem;

            }

            .wrapper-botoes-card {

                pointer-events: auto;

                position: relative;
                // bottom: 1rem;

                height: 35px;

                display: flex;
                justify-content: center;
                // gap: 3rem;

                button {

                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    outline: none;
                    background: none;
                    border: none;

                    height: 35px;

                    font-size: 1.25rem;
                    
                    color: $cor-card-excluir;

                    padding: 0.5rem 0;

                    cursor: pointer;

                    &:hover {

                        background-color: $cor-card-excluir;
                        color: #181715;   
                        
                        & ~ .linha {

                            height: 0;
                            opacity: 0;

                        }

                        svg {
                            fill: #181715;

                            path {
                                fill: #181715;
                            }
                        }
                    }

                    p {
                        margin: 0;
                        font-weight: 500;
                    }

                }

                .confirma-excluir {

                    // border: 2px solid $cor-card-excluir;
                    position: absolute;
                    right: -2px;

                    width: 40px;
                    overflow: hidden;

                    order: 0;

                    padding-right: 1rem;

                    transition: background-color 500ms,
                                border-radius 300ms,
                                width 600ms,
                                padding 300ms
                                ;

                    &:hover {
                        padding-left: 0.5rem;
                        width: 150px;

                        border-top-left-radius: 1rem;
                        // border-bottom-left-radius: 1rem;
                        border-bottom-right-radius: 1rem;

                    }

                    svg {
                        
                        max-width: 35px;
                        max-height: 35px;

                        min-width: 35px;
                        min-height: 35px;

                        path {

                            fill: $cor-card-excluir;
                        }
                    }

                    
                }

                .cancela-excluir {

                    position: absolute;
                    left: 0;

                    order: 2;

                    // padding-left: 1rem;

                    width: 40px;
                    overflow: hidden;

                    transition: background-color 300ms,
                                border-radius 300ms,
                                width 600ms;

                    &:hover {
                        width: 150px;

                        border-top-right-radius: 1rem;
                        // border-bottom-right-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                    }

                    svg {

                        max-width: 35px;
                        max-height: 35px;

                        min-width: 35px;
                        min-height: 35px;

                        fill: $cor-card-excluir;
                    }
                }
                
                .linha {
                    position: absolute;
                    left: 0;

                    width: 2px;
                    height: 35px;

                    background-color: $cor-card-excluir;

                    order: 1;

                    transition: height 300ms,
                                opacity 300ms;
                }

            }//wrapper-botoes-card
            

        }

    }

} 
