@use '../abstract/variaveis' as *;


.menu-lateral {
    display: none;
}

.expansao-futura {
    display: none;
}

@media (min-width: 1440px) {

    .menu-lateral {
        display: flex;
        
        width: 200px;
        height: 100vh;

        padding: 2rem;

        // border-right: 2px solid transparentize($cor-texto, 0.9);
        // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        .lista {

            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style-type: none;
            
            gap: 1rem;

            .item {
                // padding: 1rem;
                // border: 1px solid transparent;
                border-radius: 1rem;
                
                &:hover {
                    // border: 1px solid $cor-texto;
                    background-color: transparentize($color: $cor-texto, $amount: 0.85);
                }

                a {

                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;

                    text-decoration: none;
                    color: $cor-texto;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }

    .expansao-futura {
        display: flex;
        width: calc(200px + 4rem);
        height: 100vh;

        // border-left: 2px solid #0c0c0c46;
    }
}