@use '../abstract/variaveis' as *;

$tamanho-menu-lateral: calc(200px + 4rem);

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.1rem;

    // border-bottom: 2px solid transparentize($cor-texto, 0.9);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

    .barra-pesquisa {
        display: none;
    }

    .container-icones {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 2rem;

        .lupa {

            path {

                fill: transparentize($cor-texto, 0.5);
            }

        }

        .menu {

            path {

                fill: transparentize($cor-texto, 0.5);
            }

        }
    }

    .perfil {
        display: none;
    }
}

@media (max-width: 320px) {
    .cabecalho {
        .container-icones {
            .lupa {
                display: none;
            }
        }
    }
}

@media (min-width: 1440px) {
    .cabecalho {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        place-items: self-start center;
        align-items: center;

        padding: 1.5rem;

        .logo {
            justify-self: start;
        }

        .barra-pesquisa {
            display: block;
            align-self: center;
            justify-self: center;
            //  tamahno total   cada lado * (tamanho-menu-lateral + gap + margin-editor)
            width: calc(100vw - 2*($tamanho-menu-lateral + 2rem + 1rem));

            outline: none;
            background: none;

            border: 2px solid transparentize($cor-texto, .75);
            border-radius: 0.5rem;
            padding: 1rem 1.5rem;

            color: $cor-texto;
            font-size: 1rem;
            font-family: $fonte-base;

            &::placeholder {
                color: transparentize($cor-texto, 0.5);
            }

            &:focus-within {
                border: 2px solid lighten($cor-fundo, 30%);
            }
        }

        .container-icones {
            display: none;
        }

        .perfil {
            display: flex;
            align-items: center;
            gap: 1rem;

            justify-self: end;

            text-decoration: none;
            color: $cor-texto;
        }
    }
}