@use '../abstract/variaveis' as *;

@mixin props-notificacao($cor-fundo-notificacao, $tamanho-svg) {
    
    $cor-base: desaturate(darken($cor-fundo-notificacao, 65%), 50%);

    .wrapper-informacao {     

        display: flex;
        align-items: flex-start;

        .informacao-svg {  
            width: $tamanho-svg;
            overflow: visible;

            padding-right: 0.5rem;

            fill: $cor-base;

        }

        .informacao-h3 {

            display: flex;

            font-family: $fonte-base;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2rem;
            color: $cor-base;

            margin: 0;

            border-left: 2px solid transparentize($cor-base, 0.5);
            padding-left: 1rem;
            padding-right: 0.75rem;

            
            min-height: $tamanho-svg;
            // min-width: 160px;
            width: 160px;
            
            align-items: center;
        }
    }

    .botao-dispensar {
        width: auto;

        outline: none;

        background: none;

        border: none;
        padding-right: 0.5rem;

        cursor: pointer;

        text-align: start;
        font-family: $fonte-base;
        font-size: 0.8rem;
        font-weight: 600;

        color: transparentize($cor-base, 0.7);

        &:hover {
            color: transparentize($cor-base, 0.4);
        }
    }
}

.hidden {
    display: none;
}

.notificacoes {

    position: fixed;
    // top: calc(102.4px + 2rem);
    top: 1rem;
    right: 0.5rem;
    
    
    display: block;
    
    padding: 1rem;

    &:not(:first-child) {
        
        z-index: 5;

        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }

    .notificacao {
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        padding: 1rem 0rem 0rem 1rem;
        // gap: 0.5rem;

        border-radius: 1rem;
        // background-color: $cor-texto;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);

        width: calc(264px - 1*(1rem));

        transition: opacity 1s;

        .notificacao-extra {
            padding-top: 0rem;
            padding-bottom: 0rem;
            padding-right: 0;
            gap: 0;
            
            width: calc(264px - 1*(1rem));
            height: 30px;
            
            background-color: transparent;
            box-shadow: none;
            
            @include props-notificacao(#ffeaea, 30px);

            &:first-child {
                .informacao-h3 {

                    padding-top: 1rem;
                }
            }
        }

    }
    
    .notificacao-sucesso {
        $cor-fundo-notificacao: #f4ffea;

        background-color: #f4ffea;

        @include props-notificacao(#f4ffea, 50px)
    }
    
    .notificacao-erro {
        $cor-fundo-notificacao: #ffeaea;

        background-color: #ffeaea;

        padding-right: 0;

        @include props-notificacao(#ffeaea, 50px);

        .informacao-h3-erro {
            padding-bottom: 1.5rem;
        }
        
    }
    
    .notificacao-extra {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
        width: calc(264px - 1*(1rem));
        
        background-color: #fdefd2;
        
        @include props-notificacao(#fdefd2, 30px)
    }
    
    .botao-dispensar {
        padding: 0.5rem;    
    }
}