@use '../abstract/variaveis' as *;


.personalizacao-salvar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 2rem 1rem 1rem 1rem;
    gap: 1rem;

    .botao-salvar {
        display: flex;
        align-content: center;
        flex: 1;

        text-align: center;
        width: fit-content;
        max-width: 200px;
        height: 50px;
    
        background-color: $cor-fundo;
        color: $cor-texto;
        
        font-family: $fonte-base;
        font-weight: bold;
        font-size: 1rem;
        
        border: 2px solid $cor-texto;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        // gap: 0.5rem;
        
        cursor: pointer;

        transition: background 250ms,
                    color 250ms;
    
        &:hover {
            background-color: $cor-texto;
            color: $cor-fundo;

            svg {
                g{
                    g{

                        fill: $cor-fundo;
                    }
                }
            }
        }

        &:active {
            background-color: lighten($cor-fundo, 5%);
            border: 2px solid lighten($cor-fundo, 5%);
            color: $cor-texto;
        }

        svg {
            width: 30px;
            
            g {
                g {
                    transition: all 250ms;
                    fill: $cor-texto;
                }
            }
        }

        p {
            width: 100%;
            margin: 0;
            align-self: center;
        }
    }

    // .retornar {

    //     display: flex;
    //     align-items: center;

    //     flex: 1;
    //     max-width: 250px;
        
    //     background: none;
    //     outline: none;
    
    //     // width: calc(300px - 2rem);
    //     height: 50px;
        
    //     padding: 0.5rem 1rem 0.5rem 0.75rem;
    //     // gap: 0.5rem;
    //     border: 2px solid $cor-texto;
    //     border-radius: 1rem;

    //     cursor: pointer;
    
    //     transition: background 250ms;
    
    //     &:hover {
    
    //         // border: 2px solid $cor-texto;
    //         background-color: $cor-texto;
    
    //         svg {
    //             fill: $cor-fundo;
    //         }
    
    //         p {
    //             margin: 0;
    
    //             color: $cor-fundo;
    //             font-size: 1rem;
    //             font-weight: 700;
    //         }
    //     }
    
    //     svg {
    //         width: 30px;
    
    //         fill: $cor-texto;
    
    //         transition: fill 250ms;
    //     }
    
    //     p {
    //         width: 100%;
    //         margin: 0;
    
    //         color: $cor-texto;
    //         font-size: 1rem;
    //         font-weight: 700;
    
    //         transition: color 250ms;
    //     }
    // }
}

@media (min-width: 768px) {
    .personalizacao-salvar {

        .botao-salvar {
            width: 20vw;
        }
    }
}

@media (min-width: 1440px) {
    .personalizacao-salvar {

        .botao-salvar {
            width: 10vw;
        }
    }
}
