@use '../abstract/variaveis' as *;

@mixin text-area-style($line-height, $font-size, $font-weight) {

    background: none;
    color: $cor-texto;

    border: 2px dashed #ffffff32;
    border-radius: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;

    line-height: $line-height;
    font-size: $font-size;
    font-family: $fonte-base;
    font-weight: $font-weight;

    &::placeholder {
        font-size: $font-size;
        color: #ffffff32;
    }

    &.filled {
        // border-radius: 0;
        // border: none;
        // border-left: 0.2rem solid lighten($cor-fundo, 10%);

        border: 2px solid #ffffff00;
    }

    &:focus-within {
        border: 2px solid #ffffff32;
        outline: none;
    }

    &:hover {
        border: 2px dashed #ffffff32;
    }
}

.detalhes {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    // gap: 1rem;

    div {
        width: 100%;
        display: flex;
        flex-direction: column;

        h3 {
            color: transparentize($cor-texto, 0.7);
            font-size: 1rem;
    
            margin: 0 0 0.5rem 0;

            &:first-child {
                margin: 1rem 0 0.5rem 0;
            }
    
        }
    
        textarea {
            max-height: 130px;
        }
        .nome-projeto {
            @include text-area-style(3rem, 2.4rem, 600)
            
        }
    
        .descricao-projeto {
            height: 5rem;

            @include text-area-style(1.5rem, 1.2rem, 400)
        }
        
    }

}

@media (min-width: 768px) {
    .detalhes {
        flex-direction: row;
        gap: 1rem;

        margin: 1rem 1rem 0 1rem;

        div {

            &:first-child {
                width: 45%;
            }

            .nome-projeto {
                height: 5em;
                // width: 10em;
            }

            .descricao-projeto {
                height: 10em;
            }
        }
    }
}

@media (min-width:1100px) {
    .detalhes {
        div {
            &:first-child {
                width: 90%;
            }
        }
    }
}

@media (min-width: 1440px) {
    
}