@use "./variaveis" as *;

@media (prefers-color-scheme: dark) {
  html,
  body {
    font-family: $fonte-base;
    background-color: $cor-fundo;
    // max-width: 1920px;

    margin: 0;
    // min-width: 300px;
    width: auto;
  }
}

html,
body {
  font-family: $fonte-base;
  background-color: $cor-fundo;
  // max-width: 1920px;

  margin: 0;
  // min-width: 300px;
  width: auto;
}

textarea {
  resize: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}

/* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
//   background: lighten($cor-fundo, 10%);
  background: transparentize($cor-texto, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparentize($cor-texto, 0.6);
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  display: none;
}

.icone-wrapper {
  display: flex;
  gap: 8px;

  .quadrado-icone {
      width: 12px;
      height: 12px;
      background-color: $cor-texto;
  }
}
