@use "./variaveis" as *;

html,
body {
  font-family: $fonte-base;
  background-color: $cor-fundo;
  // max-width: 1920px;

  margin: 0;
}

textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}

/* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

/* Handle */
::-webkit-scrollbar-thumb {
//   background: lighten($cor-fundo, 10%);
  background: transparentize($cor-texto, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparentize($cor-texto, 0.6);
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  display: none;
}

.icone-wrapper {
  display: flex;
  gap: 8px;

  .quadrado-icone {
      width: 12px;
      height: 12px;
      background-color: $cor-texto;
  }
}
