// Fontes
$fonte-editor: 'Roboto Mono', monospace;
$fonte-base: 'Inter', sans-serif;

// Cores
$cor-fundo: #051D3B;
$cor-fundo-editor: #141414;
$cor-fundo-post: #151C24;
$cor-botao: #5081FB14;
$cor-caixa-texto: #FFFFFF29;
$cor-texto: #FFFFFF;
$cor-botao-salvar: #5081FB;


// Tamanho das Fontes
$tamanho-fonte: 3rem;