html,
body {
  font-family: "Inter", sans-serif;
  background-color: #051D3B;
  margin: 0;
  width: auto;
}

textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  display: none;
}

.icone-wrapper {
  display: flex;
  gap: 8px;
}
.icone-wrapper .quadrado-icone {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
}

.principal .container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (min-width: 1440px) {
  .principal {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.cabecalho .barra-pesquisa {
  display: none;
}
.cabecalho .container-icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.cabecalho .perfil {
  display: none;
}

@media (max-width: 320px) {
  .cabecalho .container-icones .lupa {
    display: none;
  }
}
@media (min-width: 1440px) {
  .cabecalho {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    place-items: self-start center;
    align-items: center;
    padding: 1.5rem;
  }
  .cabecalho .logo {
    justify-self: start;
  }
  .cabecalho .barra-pesquisa {
    display: block;
    align-self: center;
    justify-self: center;
    width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    outline: none;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
  }
  .cabecalho .barra-pesquisa::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .cabecalho .barra-pesquisa::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .cabecalho .barra-pesquisa:focus-within {
    border: 2px solid #1162c8;
  }
  .cabecalho .container-icones {
    display: none;
  }
  .cabecalho .perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;
    text-decoration: none;
    color: #FFFFFF;
  }
}
.header-editor {
  display: flex;
  margin: 2rem 1rem 1rem 2rem;
  gap: 1rem;
}
.header-editor .header-wrapper {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 1rem;
}
.header-editor .header-wrapper .icone-header {
  width: 40px;
}
.header-editor .header-wrapper .icone-header path {
  fill: rgba(255, 255, 255, 0.5);
}
.header-editor .header-wrapper .icone-header g g {
  fill: rgba(255, 255, 255, 0.5);
}
.header-editor .header-wrapper p {
  margin: 0;
  width: 70px;
  min-width: 70px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
}
.header-editor .header-wrapper p:last-child {
  min-height: 40px;
  min-width: 100px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
}
.header-editor .retornar {
  display: flex;
  align-items: center;
  width: 50px;
  max-width: 200px;
  background: none;
  outline: none;
  height: 50px;
  padding: 0.5rem;
  gap: 0.75rem;
  border: 2px solid transparent;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: all 500ms;
}
.header-editor .retornar:hover {
  width: 170px;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.header-editor .retornar svg {
  min-width: 30px;
  max-width: 30px;
  fill: rgba(255, 255, 255, 0.5);
  transition: fill 250ms;
}
.header-editor .retornar svg g g {
  fill: rgba(255, 255, 255, 0.5);
}
.header-editor .retornar svg path:last-child {
  fill: rgba(255, 255, 255, 0.5);
}
.header-editor .retornar p {
  margin: 0;
  padding-right: 1rem;
  min-width: 100px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  transition: all 250ms;
}

.editor {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 1rem;
}
.editor .opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem calc(1rem + 9.5px);
  max-height: 54px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #141414;
}
.editor .opcoes .botoes {
  display: flex;
  gap: 1rem;
  min-height: 31px;
}
.editor .opcoes .botoes .container-linguagem {
  z-index: 5;
  color: #FFFFFF;
  background: none;
  font-size: 0.8rem;
  font-weight: 550;
  font-family: "Inter", sans-serif;
  margin: 0;
  border: 0.125rem solid #FFFFFF;
  border-radius: 0.5rem;
  width: 225px;
  height: 31px;
  line-height: 2rem;
  cursor: pointer;
  transition: border-radius 200ms;
}
.editor .opcoes .botoes .container-linguagem:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.editor .opcoes .botoes .container-linguagem .linguagem-placeholder {
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0 0.5rem 0 1rem;
  width: calc(auto + 10px);
  overflow: hidden;
}
.editor .opcoes .botoes .container-linguagem .linguagem-placeholder .texto-container p {
  max-height: 32px;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit the number of lines to 2 */
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
}
.editor .opcoes .botoes .container-linguagem .linguagem-placeholder svg {
  overflow: visible;
  width: 20px;
  fill: #FFFFFF;
}
.editor .opcoes .botoes .container-linguagem .linguagem {
  --cor-fundo: #141414;
  --cor-texto: #fff;
  z-index: 2 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  flex-direction: column;
  position: relative;
  top: 1px;
  right: 1.5px;
  width: 100%;
  height: -30px;
  border: 0.125rem solid #FFFFFF;
  border-width: 0 0.125rem 0.125rem 0.125rem;
  border-top: 0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0;
  margin: 0;
  background-color: #141414;
  overflow: hidden;
  transition: height 500ms ease;
}
.editor .opcoes .botoes .container-linguagem .linguagem .linguagem-opcao {
  padding-left: 1rem;
}
.editor .opcoes .botoes .container-linguagem .linguagem .linguagem-opcao:hover {
  background-color: var(--cor-texto);
  color: var(--cor-fundo);
}
.editor .opcoes .botoes .container-linguagem .linguagem .linguagem-opcao:last-child:hover {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.editor .opcoes .botoes .container-seletor {
  display: flex;
  justify-content: end;
  flex: 1;
  width: 200px;
  border: 0.125rem solid #FFFFFF;
  border-radius: 0.5rem;
}
.editor .opcoes .botoes .container-seletor .seletor-texto {
  --cor-placeholder: #ffffff85;
  height: 100%;
  flex: 1;
  min-width: 80px;
  outline: none;
  border: none;
  padding: 0;
  padding-left: 0.75rem;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 550;
  border-radius: inherit;
  background-color: #141414;
  color: #FFFFFF;
  overflow: hidden;
}
.editor .opcoes .botoes .container-seletor .seletor-texto::-moz-placeholder {
  color: var(--cor-placeholder);
}
.editor .opcoes .botoes .container-seletor .seletor-texto::placeholder {
  color: var(--cor-placeholder);
}
.editor .opcoes .botoes .container-seletor .label-seletor-cor {
  display: flex;
  width: 27px;
  height: 100%;
  outline: none;
  border-left: 0.125rem solid #FFFFFF;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}
.editor .opcoes .botoes .container-seletor .label-seletor-cor .icone-seletor {
  position: relative;
  left: 0.1rem;
  min-width: 23px;
}
.editor .opcoes .botoes .container-seletor .label-seletor-cor .icone-seletor path:nth-child(2) {
  fill: #FFFFFF;
}
.editor .opcoes .botoes .container-seletor .label-seletor-cor .seletor-cor {
  visibility: hidden;
}
.editor code-input {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #141414;
  border: none;
  margin: 0;
  padding: 1rem 1rem;
  font-family: "Roboto Mono", monospace;
  color: #FFFFFF;
  font-size: 1rem;
  height: 40vh;
}
.editor code-input:focus-within {
  outline: none;
}
.editor code-input pre code {
  background-color: #141414 !important;
}

.post-detalhado .opcoes {
  display: flex;
  flex-direction: row;
}
.post-detalhado .opcoes .wrapper-texto-post {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  text-align: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.post-detalhado .opcoes .wrapper-texto-post .texto-linguagem, .post-detalhado .opcoes .wrapper-texto-post .texto-tag {
  text-align: center;
  height: 31px;
  line-height: 1.9rem;
}
.post-detalhado .opcoes .wrapper-texto-post .texto-linguagem {
  padding-right: 0.5rem;
  font-style: italic;
}
.post-detalhado .opcoes .botao-copiar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  width: 18px;
  height: 31px;
  overflow: hidden;
  cursor: pointer;
  transition: width 700ms;
}
.post-detalhado .opcoes .botao-copiar:hover {
  width: 115px;
}
.post-detalhado .opcoes .botao-copiar:active {
  background-color: #FFFFFF;
}
.post-detalhado .opcoes .botao-copiar:active svg {
  fill: #141414;
}
.post-detalhado .opcoes .botao-copiar:active p {
  color: #141414;
  z-index: 10;
}
.post-detalhado .opcoes .botao-copiar svg {
  --cor-svg: #fff;
  min-width: 18px;
  max-height: 18px;
  fill: var(--cor-svg);
}
.post-detalhado .opcoes .botao-copiar p {
  --cor-texto-copar: #fff;
  color: var(--cor-texto-copar);
  text-align: center;
  font-size: 0.83rem;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-width: 90px;
  transition: width 700ms;
}
.post-detalhado code-input {
  text-wrap: wrap;
  height: 50vh;
  border-radius: 0;
}
.post-detalhado .footer-editor {
  display: flex;
  justify-content: end;
  background-color: #141414;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
}
.post-detalhado .footer-editor .botao-expandir {
  background: none;
  border: none;
  padding: 0;
  border-radius: 100vmax;
  width: 24px;
  cursor: pointer;
  transition: background-color 300ms;
}
.post-detalhado .footer-editor .botao-expandir:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.post-detalhado .footer-editor .botao-expandir:hover svg {
  fill: #141414;
}
.post-detalhado .footer-editor .botao-expandir svg {
  overflow: visible;
  width: 20px;
  fill: #FFFFFF;
  transition: fill 300ms;
}
.post-detalhado .personalizacao-salvar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #FFFFFF;
  gap: 2rem;
}
.post-detalhado .personalizacao-salvar .social-autor {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}
.post-detalhado .personalizacao-salvar .social-autor .social {
  display: flex;
  gap: 1rem;
}
.post-detalhado .personalizacao-salvar .social-autor .social div {
  display: flex;
  gap: 0.5rem;
}
.post-detalhado .personalizacao-salvar .social-autor .autor .wrapper-autor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.post-detalhado .personalizacao-salvar .social-autor .autor .wrapper-autor p {
  padding-right: 1rem;
  border-right: 2px solid #FFFFFF;
}

@media (max-width: 600px) {
  .header-editor {
    display: none;
  }
  .editor .opcoes {
    justify-content: space-between;
    padding: 1rem;
  }
  .editor .opcoes .icone-wrapper {
    display: none;
  }
  .editor .opcoes .botoes {
    width: 100%;
    justify-content: space-between;
  }
  .editor .opcoes .botoes .container-seletor {
    flex: 1;
  }
}
@media (min-width: 1440px) {
  .container {
    flex: 1;
  }
  .container .editor {
    height: auto;
  }
  .container .editor textarea {
    padding: 2rem;
  }
}
.personalizacao-salvar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2rem 1rem 1rem 1rem;
  gap: 1rem;
}
.personalizacao-salvar .botao-salvar {
  display: flex;
  align-content: center;
  flex: 1;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 200px;
  height: 50px;
  background-color: #051D3B;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}
.personalizacao-salvar .botao-salvar:hover {
  background-color: #FFFFFF;
  color: #051D3B;
}
.personalizacao-salvar .botao-salvar:hover svg g g {
  fill: #051D3B;
}
.personalizacao-salvar .botao-salvar:active {
  background-color: #072953;
  border: 2px solid #072953;
  color: #FFFFFF;
}
.personalizacao-salvar .botao-salvar svg {
  width: 30px;
}
.personalizacao-salvar .botao-salvar svg g g {
  transition: all 250ms;
  fill: #FFFFFF;
}
.personalizacao-salvar .botao-salvar p {
  width: 100%;
  margin: 0;
  align-self: center;
}

@media (min-width: 768px) {
  .personalizacao-salvar .botao-salvar {
    width: 20vw;
  }
}
@media (min-width: 1440px) {
  .personalizacao-salvar .botao-salvar {
    width: 10vw;
  }
}
.detalhes {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.detalhes div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detalhes div h3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
.detalhes div h3:first-child {
  margin: 1rem 0 0.5rem 0;
}
.detalhes div textarea {
  max-height: 130px;
}
.detalhes div .nome-projeto {
  background: none;
  color: #FFFFFF;
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 3rem;
  font-size: 2.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.detalhes div .nome-projeto::-moz-placeholder {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .nome-projeto::placeholder {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .nome-projeto.filled {
  border: 2px solid rgba(255, 255, 255, 0);
}
.detalhes div .nome-projeto:focus-within {
  border: 2px solid rgba(255, 255, 255, 0.1960784314);
  outline: none;
}
.detalhes div .nome-projeto.hover:hover {
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto {
  height: 5rem;
  background: none;
  color: #FFFFFF;
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.detalhes div .descricao-projeto::-moz-placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto.filled {
  border: 2px solid rgba(255, 255, 255, 0);
}
.detalhes div .descricao-projeto:focus-within {
  border: 2px solid rgba(255, 255, 255, 0.1960784314);
  outline: none;
}
.detalhes div .descricao-projeto.hover:hover {
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
}

@media (min-width: 768px) {
  .detalhes {
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  .detalhes div:first-child {
    width: 45%;
  }
  .detalhes div .nome-projeto {
    height: 5em;
  }
  .detalhes div .descricao-projeto {
    height: 10em;
  }
}
@media (min-width: 1100px) {
  .detalhes div:first-child {
    width: 90%;
  }
}
.menu-lateral {
  display: none;
}

.expansao-futura {
  display: none;
}

@media (min-width: 1440px) {
  .menu-lateral {
    display: flex;
    width: 200px;
    height: 100vh;
    padding: 2rem;
  }
  .menu-lateral .lista {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1rem;
  }
  .menu-lateral .lista .item {
    border: 2px solid transparent;
    border-radius: 1rem;
    transition: border 250ms ease-in;
  }
  .menu-lateral .lista .item:hover {
    border: 2px solid #FFFFFF;
  }
  .menu-lateral .lista .item a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
  }
  .menu-lateral .lista .item a .icone-code {
    max-width: 35px;
  }
  .menu-lateral .lista .item a .icone-code g g {
    fill: #FFFFFF;
  }
  .menu-lateral .lista .item a .icone-projetos {
    overflow: visible;
    max-width: 35px;
    fill: #FFFFFF;
  }
  .expansao-futura {
    display: flex;
    width: calc(200px + 4rem);
    height: 100vh;
  }
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .lista-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: 1rem 1rem 3rem 1rem;
  padding: 0;
  gap: 3rem 1rem;
}
.container .lista-posts .post-novo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
}
.container .lista-posts .post-novo button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 100%;
  border-radius: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 500ms;
}
.container .lista-posts .post-novo button:hover {
  border: 2px dashed #FFFFFF;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 1px 1px 15px 5px rgba(9, 52, 106, 0.5);
}
.container .lista-posts .post-novo button:hover img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(11%) hue-rotate(217deg) brightness(105%) contrast(104%);
  color: rgba(255, 255, 255, 0.5019607843);
}
.container .lista-posts .post-novo button:hover p {
  color: #FFFFFF;
}
.container .lista-posts .post-novo button img {
  transition: filter 500ms;
  filter: brightness(0) saturate(100%) invert(57%) sepia(33%) saturate(173%) hue-rotate(173deg) brightness(92%) contrast(82%);
  width: 35px;
}
.container .lista-posts .post-novo button p {
  transition: color 500ms;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.container .lista-posts .post {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 1rem;
  background: none;
  cursor: pointer;
  text-align: left;
  transition: filter 500ms, background-color 500ms, box-shadow 500ms;
}
.container .lista-posts .post:hover {
  filter: brightness(110%);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 5px -2px #04162d, 2px 2px 10px -2px #030f1f, 2px 2px 15px -2px #010811;
}
.container .lista-posts .post .editor {
  margin: 0;
}
.container .lista-posts .post .editor .opcoes {
  display: flex;
}
.container .lista-posts .post .editor .opcoes .wrapper-texto {
  display: flex;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}
.container .lista-posts .post .editor .opcoes .wrapper-texto h5:first-child {
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-style: italic;
  padding: 0.2rem 0.5rem 0.2rem 0;
}
.container .lista-posts .post .editor .opcoes .wrapper-texto h5:last-child {
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  padding: 0.2rem 0 0.2rem 0.5rem;
}
.container .lista-posts .post .editor .comunidade-codigo {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 40vh;
  margin: 0;
}
.container .lista-posts .post .detalhes-post {
  display: grid;
  grid-template-areas: "titulo titulo" "descricao descricao" "linguagem-data x" "social-autor social-autor ";
  padding: 1.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(20, 20, 20, 0.7);
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}
.container .lista-posts .post .detalhes-post .comunidade-titulo {
  grid-area: titulo;
  padding: 0;
  margin-bottom: 1.5rem;
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.container .lista-posts .post .detalhes-post .comunidade-descricao {
  grid-area: descricao;
  padding: 0;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data {
  grid-area: linguagem-data;
  display: flex;
  align-items: center;
  min-width: 52px;
  gap: 1rem;
  margin-bottom: 1rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data h4 {
  margin: 0;
  line-height: 0.2rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data h5 {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.2rem;
}
.container .lista-posts .post .detalhes-post .social-autor {
  grid-area: social-autor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .lista-posts .post .detalhes-post .social-autor .social {
  display: flex;
  gap: 1rem;
}
.container .lista-posts .post .detalhes-post .social-autor .social div {
  display: flex;
  gap: 0.5rem;
}
.container .lista-posts .post .detalhes-post .social-autor .social div p {
  font-family: "Inter", sans-serif;
}
.container .lista-posts .post .detalhes-post .social-autor .autor div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container .lista-posts .post .detalhes-post .social-autor .autor div p {
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .container .lista-posts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .container .lista-posts .post-novo {
    min-width: 600px;
    min-height: 100px;
  }
  .container .lista-posts .post {
    max-width: 600px;
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .container .lista-posts {
    justify-content: space-between;
    margin: 1rem;
  }
  .container .lista-posts .post {
    max-width: calc(50vw - 2rem);
  }
  .container .lista-posts .post-novo {
    width: 100%;
  }
  .expansao-futura {
    display: none;
  }
}
@media (min-width: 1440px) and (max-width: 1705px) {
  .container .lista-posts {
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    margin: 1rem;
  }
  .container .lista-posts .post-novo {
    min-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 100px;
    margin: 0;
  }
  .container .lista-posts .post {
    max-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}
@media (min-width: 1705px) {
  .container .lista-posts {
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
  }
  .container .lista-posts .post-novo {
    min-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 100px;
    margin: 0;
  }
  .container .lista-posts .post {
    max-width: calc((100vw - 2 * (200px + 4rem + 2rem + 1rem)) / 2 - 1.5rem);
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}
.hidden {
  display: none;
}

.notificacoes {
  position: fixed;
  top: 1rem;
  right: 0.5rem;
  display: block;
  padding: 1rem;
}
.notificacoes:not(:first-child) {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.notificacoes .notificacao {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem 0rem 0rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  width: calc(264px - 1rem);
  transition: opacity 300ms;
}
.notificacoes .notificacao:only-child {
  padding-bottom: 0;
}
.notificacoes .notificacao-sucesso {
  background-color: #f4ffea;
  padding-right: 0;
}
.notificacoes .notificacao-sucesso .lista-notificacao-extra:has(.notificacao) .informacao-h3-sucesso {
  padding-bottom: 1.5rem;
}
.notificacoes .notificacao-sucesso .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-sucesso .wrapper-informacao .informacao-svg {
  width: 50px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #4d7627;
}
.notificacoes .notificacao-sucesso .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-sucesso .wrapper-informacao .informacao-svg line {
  stroke: #4d7627;
}
.notificacoes .notificacao-sucesso .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #4d7627;
  margin: 0;
  border-left: 2px solid rgba(77, 118, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 50px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-sucesso .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(77, 118, 39, 0.3);
}
.notificacoes .notificacao-sucesso .botao-dispensar:hover {
  color: rgba(77, 118, 39, 0.6);
}
.notificacoes .notificacao-sucesso .notificacao-extra {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0;
  gap: 0;
  width: calc(264px - 1rem);
  height: 30px;
  background-color: transparent;
  box-shadow: none;
}
.notificacoes .notificacao-sucesso .notificacao-extra .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-sucesso .notificacao-extra .wrapper-informacao .informacao-svg {
  width: 30px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #4d7627;
}
.notificacoes .notificacao-sucesso .notificacao-extra .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-sucesso .notificacao-extra .wrapper-informacao .informacao-svg line {
  stroke: #4d7627;
}
.notificacoes .notificacao-sucesso .notificacao-extra .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #4d7627;
  margin: 0;
  border-left: 2px solid rgba(77, 118, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 30px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-sucesso .notificacao-extra .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(77, 118, 39, 0.3);
}
.notificacoes .notificacao-sucesso .notificacao-extra .botao-dispensar:hover {
  color: rgba(77, 118, 39, 0.6);
}
.notificacoes .notificacao-erro {
  background-color: #ffeaea;
  padding-right: 0;
}
.notificacoes .notificacao-erro .informacao-h3-erro {
  padding-bottom: 1.5rem;
}
.notificacoes .notificacao-erro .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-erro .wrapper-informacao .informacao-svg {
  width: 50px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #762727;
}
.notificacoes .notificacao-erro .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-erro .wrapper-informacao .informacao-svg line {
  stroke: #762727;
}
.notificacoes .notificacao-erro .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #762727;
  margin: 0;
  border-left: 2px solid rgba(118, 39, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 50px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-erro .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(118, 39, 39, 0.3);
}
.notificacoes .notificacao-erro .botao-dispensar:hover {
  color: rgba(118, 39, 39, 0.6);
}
.notificacoes .notificacao-erro .notificacao-extra {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0;
  gap: 0;
  width: calc(264px - 1rem);
  height: 30px;
  background-color: transparent;
  box-shadow: none;
}
.notificacoes .notificacao-erro .notificacao-extra .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-erro .notificacao-extra .wrapper-informacao .informacao-svg {
  width: 30px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #762727;
}
.notificacoes .notificacao-erro .notificacao-extra .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-erro .notificacao-extra .wrapper-informacao .informacao-svg line {
  stroke: #762727;
}
.notificacoes .notificacao-erro .notificacao-extra .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #762727;
  margin: 0;
  border-left: 2px solid rgba(118, 39, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 30px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-erro .notificacao-extra .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(118, 39, 39, 0.3);
}
.notificacoes .notificacao-erro .notificacao-extra .botao-dispensar:hover {
  color: rgba(118, 39, 39, 0.6);
}
.notificacoes .notificacao-alerta {
  background-color: #fff8ea;
  padding-right: 0;
}
.notificacoes .notificacao-alerta .wrapper-botoes {
  display: flex;
  margin: 1rem 0 0.5rem 0;
  gap: 0.5rem;
}
.notificacoes .notificacao-alerta .wrapper-botoes .botao-sair {
  width: auto;
  outline: none;
  background: none;
  border: none;
  border: 2px solid rgba(118, 92, 39, 0.8);
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(118, 92, 39, 0.8);
  transition: background-color 300ms, color 300ms;
}
.notificacoes .notificacao-alerta .wrapper-botoes .botao-sair:hover {
  color: #fff8ea;
  background-color: rgba(118, 92, 39, 0.9);
}
.notificacoes .notificacao-alerta .lista-notificacao-extra:has(.notificacao) .informacao-h3-alerta {
  padding-bottom: 1.5rem;
}
.notificacoes .notificacao-alerta .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-alerta .wrapper-informacao .informacao-svg {
  width: 50px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #765c27;
}
.notificacoes .notificacao-alerta .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-alerta .wrapper-informacao .informacao-svg line {
  stroke: #765c27;
}
.notificacoes .notificacao-alerta .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #765c27;
  margin: 0;
  border-left: 2px solid rgba(118, 92, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 50px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-alerta .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(118, 92, 39, 0.3);
}
.notificacoes .notificacao-alerta .botao-dispensar:hover {
  color: rgba(118, 92, 39, 0.6);
}
.notificacoes .notificacao-alerta .notificacao-extra {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0;
  gap: 0;
  width: calc(264px - 1rem);
  height: 30px;
  background-color: transparent;
  box-shadow: none;
}
.notificacoes .notificacao-alerta .notificacao-extra .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-alerta .notificacao-extra .wrapper-informacao .informacao-svg {
  width: 30px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #765c27;
}
.notificacoes .notificacao-alerta .notificacao-extra .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-alerta .notificacao-extra .wrapper-informacao .informacao-svg line {
  stroke: #765c27;
}
.notificacoes .notificacao-alerta .notificacao-extra .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #765c27;
  margin: 0;
  border-left: 2px solid rgba(118, 92, 39, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 30px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-alerta .notificacao-extra .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(118, 92, 39, 0.3);
}
.notificacoes .notificacao-alerta .notificacao-extra .botao-dispensar:hover {
  color: rgba(118, 92, 39, 0.6);
}
.notificacoes .notificacao-extra {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: calc(264px - 1rem);
  background-color: #fdefd2;
}
.notificacoes .notificacao-extra .wrapper-informacao {
  display: flex;
  align-items: flex-start;
}
.notificacoes .notificacao-extra .wrapper-informacao .informacao-svg {
  width: 30px;
  overflow: visible;
  padding-right: 0.5rem;
  fill: #5d4b26;
}
.notificacoes .notificacao-extra .wrapper-informacao .informacao-svg path, .notificacoes .notificacao-extra .wrapper-informacao .informacao-svg line {
  stroke: #5d4b26;
}
.notificacoes .notificacao-extra .wrapper-informacao .informacao-h3 {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #5d4b26;
  margin: 0;
  border-left: 2px solid rgba(93, 75, 38, 0.5);
  padding-left: 1rem;
  padding-right: 0.75rem;
  min-height: 30px;
  width: 160px;
  align-items: center;
}
.notificacoes .notificacao-extra .botao-dispensar {
  width: auto;
  outline: none;
  background: none;
  border: none;
  padding-right: 0.5rem;
  cursor: pointer;
  text-align: start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(93, 75, 38, 0.3);
}
.notificacoes .notificacao-extra .botao-dispensar:hover {
  color: rgba(93, 75, 38, 0.6);
}
.notificacoes .botao-dispensar {
  padding: 0.5rem;
}/*# sourceMappingURL=style_comunidade.css.map */