html,
body {
  font-family: "Inter", sans-serif;
  background-color: #051D3B;
  margin: 0;
}

textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0;
}

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  display: none;
}

.icone-wrapper {
  display: flex;
  gap: 8px;
}
.icone-wrapper .quadrado-icone {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
}

.principal .container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (min-width: 1440px) {
  .principal {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.cabecalho .barra-pesquisa {
  display: none;
}
.cabecalho .container-icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.cabecalho .perfil {
  display: none;
}

@media (max-width: 320px) {
  .cabecalho .container-icones .lupa {
    display: none;
  }
}
@media (min-width: 1440px) {
  .cabecalho {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    place-items: self-start center;
    align-items: center;
    padding: 1.5rem;
  }
  .cabecalho .logo {
    justify-self: start;
  }
  .cabecalho .barra-pesquisa {
    display: block;
    align-self: center;
    justify-self: center;
    width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    outline: none;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
  }
  .cabecalho .barra-pesquisa::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .cabecalho .barra-pesquisa::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .cabecalho .barra-pesquisa:focus-within {
    border: 2px solid #1162c8;
  }
  .cabecalho .container-icones {
    display: none;
  }
  .cabecalho .perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end;
    text-decoration: none;
    color: #FFFFFF;
  }
}
.invalid {
  border: 2px solid goldenrod !important;
}

.editor {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0 1rem;
}
.editor .opcoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #141414;
}
.editor .opcoes .botoes {
  display: flex;
}
.editor .opcoes .botoes .linguagem {
  color: #FFFFFF;
  background: none;
  font-size: 0.9rem;
  font-weight: 550;
  font-style: italic;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border: 0.1rem solid #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
}
.editor .opcoes .botoes .linguagem option {
  background-color: #141414;
  border: 2px solid #FFFFFF;
}
.editor code-input {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #141414;
  border: none;
  margin: 0;
  padding: 1rem 1rem;
  font-family: "Roboto Mono", monospace;
  color: #FFFFFF;
  font-size: 1rem;
  height: 40vh;
}
.editor code-input:focus-within {
  outline: none;
}
.editor code-input pre code {
  background-color: #141414 !important;
}

@media (max-width: 320px) {
  .editor .opcoes {
    justify-content: flex-end;
  }
  .editor .opcoes .icone-wrapper {
    display: none;
  }
}
@media (min-width: 1440px) {
  .container {
    flex: 1;
  }
  .container .editor {
    height: auto;
  }
  .container .editor textarea {
    padding: 2rem;
  }
}
.personalizacao-salvar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2rem 1rem 1rem 1rem;
  gap: 1rem;
}
.personalizacao-salvar .container-seletor {
  display: flex;
  justify-content: end;
  flex: 1;
}
.personalizacao-salvar .container-seletor .label-seletor-cor {
  display: flex;
  background-color: #fff;
  width: 54px;
  height: 100%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-right: 2px solid #051D3B;
  cursor: pointer;
}
.personalizacao-salvar .container-seletor .label-seletor-cor .seletor-cor {
  visibility: hidden;
}
.personalizacao-salvar .container-seletor .seletor-texto {
  height: 100%;
  flex: 1;
  max-width: 200px;
  outline: none;
  border: none;
  padding: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.personalizacao-salvar .botao-salvar {
  align-self: flex-end;
  text-align: center;
  width: 30vw;
  max-width: 300px;
  background-color: #051D3B;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
  padding: 0.6rem;
  cursor: pointer;
}
.personalizacao-salvar .botao-salvar:hover {
  background-color: #FFFFFF;
  color: #051D3B;
}
.personalizacao-salvar .botao-salvar:active {
  background-color: #072953;
  border: 2px solid #072953;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .personalizacao-salvar .botao-salvar {
    width: 20vw;
  }
}
@media (min-width: 1440px) {
  .personalizacao-salvar .botao-salvar {
    width: 10vw;
  }
}
.detalhes {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.detalhes div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.detalhes div h3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
.detalhes div h3:first-child {
  margin: 1rem 0 0.5rem 0;
}
.detalhes div textarea {
  max-height: 130px;
}
.detalhes div .nome-projeto {
  background: none;
  color: #FFFFFF;
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 3rem;
  font-size: 2.4rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.detalhes div .nome-projeto::-moz-placeholder {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .nome-projeto::placeholder {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .nome-projeto.filled {
  border: 2px solid rgba(255, 255, 255, 0);
}
.detalhes div .nome-projeto:focus-within {
  border: 2px solid rgba(255, 255, 255, 0.1960784314);
  outline: none;
}
.detalhes div .nome-projeto:hover {
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto {
  height: 5rem;
  background: none;
  color: #FFFFFF;
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
  border-radius: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.detalhes div .descricao-projeto::-moz-placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.1960784314);
}
.detalhes div .descricao-projeto.filled {
  border: 2px solid rgba(255, 255, 255, 0);
}
.detalhes div .descricao-projeto:focus-within {
  border: 2px solid rgba(255, 255, 255, 0.1960784314);
  outline: none;
}
.detalhes div .descricao-projeto:hover {
  border: 2px dashed rgba(255, 255, 255, 0.1960784314);
}

@media (min-width: 768px) {
  .detalhes {
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
  .detalhes div:first-child {
    width: 45%;
  }
  .detalhes div .nome-projeto {
    height: 5em;
  }
  .detalhes div .descricao-projeto {
    height: 10em;
  }
}
@media (min-width: 1100px) {
  .detalhes div:first-child {
    width: 90%;
  }
}
.menu-lateral {
  display: none;
}

.expansao-futura {
  display: none;
}

@media (min-width: 1440px) {
  .menu-lateral {
    display: flex;
    width: 200px;
    height: 100vh;
    padding: 2rem;
  }
  .menu-lateral .lista {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1rem;
  }
  .menu-lateral .lista .item {
    border-radius: 1rem;
  }
  .menu-lateral .lista .item:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .menu-lateral .lista .item a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
  }
  .expansao-futura {
    display: flex;
    width: calc(200px + 4rem);
    height: 100vh;
  }
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .lista-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: 1rem;
  padding: 0;
  gap: 3rem 1rem;
}
.container .lista-posts .post-novo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  margin-top: 2rem;
}
.container .lista-posts .post-novo button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 100%;
  border-radius: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 500ms;
}
.container .lista-posts .post-novo button:hover {
  border: 2px dashed #FFFFFF;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 1px 1px 15px 5px rgba(9, 52, 106, 0.5);
}
.container .lista-posts .post-novo button:hover img {
  filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(11%) hue-rotate(217deg) brightness(105%) contrast(104%);
  color: rgba(255, 255, 255, 0.5019607843);
}
.container .lista-posts .post-novo button:hover p {
  color: #FFFFFF;
}
.container .lista-posts .post-novo button img {
  transition: filter 500ms;
  filter: brightness(0) saturate(100%) invert(57%) sepia(33%) saturate(173%) hue-rotate(173deg) brightness(92%) contrast(82%);
  width: 35px;
}
.container .lista-posts .post-novo button p {
  transition: color 500ms;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.container .lista-posts .post {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: 1rem;
  background: none;
  cursor: pointer;
  text-align: left;
  transition: filter 500ms, background-color 500ms, box-shadow 500ms;
}
.container .lista-posts .post:hover {
  filter: brightness(110%);
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 5px -2px #04162d, 2px 2px 10px -2px #030f1f, 2px 2px 15px -2px #010811;
}
.container .lista-posts .post .editor {
  margin: 0;
}
.container .lista-posts .post .editor .opcoes {
  display: flex;
}
.container .lista-posts .post .editor .opcoes h5 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
}
.container .lista-posts .post .editor .comunidade-codigo {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 40vh;
  margin: 0;
}
.container .lista-posts .post .detalhes-post {
  display: grid;
  grid-template-areas: "titulo titulo" "descricao descricao" "linguagem-data x" "social-autor social-autor ";
  padding: 1.5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(20, 20, 20, 0.7);
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
}
.container .lista-posts .post .detalhes-post .comunidade-titulo {
  grid-area: titulo;
  padding: 0;
  margin-bottom: 1.5rem;
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 600;
}
.container .lista-posts .post .detalhes-post .comunidade-descricao {
  grid-area: descricao;
  padding: 0;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
  background: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data {
  grid-area: linguagem-data;
  display: flex;
  align-items: center;
  min-width: 52px;
  gap: 1rem;
  margin-bottom: 2rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data h4 {
  margin: 0;
  line-height: 0.2rem;
}
.container .lista-posts .post .detalhes-post .linguagem-data h5 {
  margin: 0;
  font-style: italic;
  font-weight: 300;
  line-height: 0.2rem;
}
.container .lista-posts .post .detalhes-post .social-autor {
  grid-area: social-autor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .lista-posts .post .detalhes-post .social-autor .social {
  display: flex;
  gap: 1rem;
}
.container .lista-posts .post .detalhes-post .social-autor .social div {
  display: flex;
  gap: 0.5rem;
}
.container .lista-posts .post .detalhes-post .social-autor .social div p {
  font-family: "Inter", sans-serif;
}
.container .lista-posts .post .detalhes-post .social-autor .autor div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .container .lista-posts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .container .lista-posts .post-novo {
    min-width: 600px;
    min-height: 100px;
  }
  .container .lista-posts .post {
    max-width: 600px;
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .container .lista-posts {
    justify-content: space-between;
    margin: 1rem;
  }
  .container .lista-posts .post {
    max-width: calc(50vw - 2rem);
  }
  .container .lista-posts .post-novo {
    width: 100%;
  }
  .expansao-futura {
    display: none;
  }
}
@media (min-width: 1440px) and (max-width: 1705px) {
  .container .lista-posts {
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    margin: 1rem;
  }
  .container .lista-posts .post-novo {
    min-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 100px;
    margin: 0;
    margin-top: 2rem;
  }
  .container .lista-posts .post {
    max-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}
@media (min-width: 1705px) {
  .container .lista-posts {
    align-self: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
  }
  .container .lista-posts .post-novo {
    min-width: calc(100vw - 2 * (200px + 4rem + 2rem + 1rem));
    min-height: 100px;
    margin: 0;
  }
  .container .lista-posts .post {
    max-width: calc((100vw - 2 * (200px + 4rem + 2rem + 1rem)) / 2 - 1.5rem);
    min-height: 500px;
  }
  .container .lista-posts .post .editor {
    margin: 0;
  }
  .container .lista-posts .post .editor .comunidade-codigo {
    height: 40vh;
  }
  .container .lista-posts .post .detalhes-post {
    margin: 0;
  }
}/*# sourceMappingURL=style_comunidade.css.map */